{{#if addNewTrack}}
<h3>Ruta Nueva</h3>
  <div>
    <form>
      <div class="form-group">        
        <label for="name">Nombre</label>
        {{input value=name id="name"}}
      </div>
      <div class="form-group">
        <label for="isActive">isActive</label>
        {{input type="checkbox" checked=isActive}} {{isActive}}
      </div>
      <div class="form-group">
        <label for="reference">Referencia</label>
        {{input value=reference id="reference"}}        
      </div>      
      <div class="form-group">
        <label>Tipo</label>
        {{!--input value=color id="color"--}}        
        <select onchange={{action "chooseType" value="target.value"}}>
          {{#each Types as |item|}}
            <option value={{item}}>{{item}}</option>
          {{/each}}
        </select> 
    </div>
      <div class="form-group">
        <label for="long">Longitud</label>
        {{input value=long id="long"}}        
      </div>      
      <div class="form-group">
        <label>Unidad de longitud</label>
        {{!--input value=uPerimeter id="uPerimeter"--}}        
        <select onchange={{action "chooseULongitude" value="target.value"}}>
          {{#each ULongitudes as |item|}}
            <option value={{item}}>{{item}}</option>
          {{/each}}
        </select> 
      </div>         
      <button {{action 'saveTrack'}} class="btn btn-warning btn-sm">Guardar Ruta</button>
    </form>
  </div>             
{{else}}  
  <button {{action 'trackFormShow'}} class="btn btn-primary btn-sm">Agregar Ruta</button>
{{/if}}

