<h2>Proyecto: {{model.name}} Activo: {{model.isActive}} </h2>

{{update-project project=model updateProject2="updateProject3"}}

{{project-detail project=model destroyProject="destroyProject" destroyPoint="destroyPoint" destroyDoc="destroyDoc" updatePoint="updatePoint" updateDoc="updateDoc" saveDoc="saveDoc"}}

{{new-feature project=model saveFeature="saveFeature"}}
